.app {
  position: relative;
  background: $light-pink;
  
  &__content {
    position: relative;
    min-height: calc(100vh - 84px - 75px);
    padding-top: 56px;
    
  }

  &__footer {
    position: relative;
    height: 75px;
  }
}


.likes-wrapper {
  // display: flex;
  // gap: 8px;
  // flex-wrap: wrap;
}

.like-item {
  border-radius: 20px;
  min-width: 100px;
  margin-top: 10px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.gifts__container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  // justify-content: center;
  overflow: hidden;
}

.gifts__big-container {
  padding: 40px;

}
