.app {
  background: $light-pink;
  // background-image: url(../../images/image42.svg);
  // background-blend-mode: multiply;
  // background-blend-mode:color-burn;

  &__content {

    // position: relative;
    height: calc(100vh - 80px - 60px);

    // background-size: cover;
    background-repeat: repeat;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.form {
  margin: 0 auto;
  padding: 20px;
  background-color: #eee;
  max-width: 800px;
  &__title {
    text-align: center;
  }
  &__submit {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  &__link {
    display: block;
    width: max-content;
    margin: 0 auto;
  }
}

.likes-wrapper {
  // display: flex;
  // gap: 8px;
  // flex-wrap: wrap;
}

.like-item {
  border-radius: 20px;
  min-width: 100px;
  margin-top: 10px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.gifts__container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  // justify-content: center;
  overflow: hidden;
}

.gifts__big-container {
  padding: 40px;

}
