.app {
  position: relative;
  background: $light-pink;
  
  &__content {
    position: relative;
    min-height: calc(100vh - 84px - 75px);
    padding-top: 56px;
    
  }

  &__footer {
    position: relative;
    height: 75px;
  }
}

.gifts__container {
  padding: 40px 0;
  display: flex;
  align-items: center;
  // justify-content: center;
  overflow: hidden;
}

.gifts__big-container {
  padding: 40px;

}
