@import "~bootstrap/scss/bootstrap";
@import "utils";
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&family=Merriweather:wght@400;700&family=Anuphan:wght@400;600&display=swap');

body {
  scrollbar-width: thin; 
  @extend %OpenSans400;
}

.btn-custom {
  border: 2px solid $accent-orange;
  background-color: transparent;
  color: $accent-orange;

  :not(.btn-check) + &:active {
    border: 2px solid $accent-orange;
    background-color: $accent-orange;
    color: $white;
  }

  &:hover {
    border: 2px solid $accent-orange;
    background-color: $accent-orange;
    color: $white;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid $accent-orange;
    background-color: $accent-orange;
    color: $white;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 2px solid $accent-orange;
  border-radius: 10px;
}


@import "blocks/container.scss";
@import "blocks/app.scss";
@import "blocks/button.scss";
@import "blocks/form-container.scss";

@import "blocks/header.scss";
@import "blocks/footer.scss";

@import "blocks/main-page.scss";
@import "blocks/form.scss";