%Merriweather700 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}
%Domine700 {
  font-family: "Domine", serif;
  font-weight: 700;
}

%OpenSans400 {
  font-family: "Anuphan", sans-serif;
  font-weight: 400;
}

%OpenSans600 {
  font-family: "Anuphan", sans-serif;
  font-weight: 600;
}
