%Domine700 {
  font-family: "Domine", serif;
  font-weight: 700;
}

%Anuphan400 {
  font-family: "Anuphan", sans-serif;
  font-weight: 400;
}

%Anuphan600 {
  font-family: "Anuphan", sans-serif;
  font-weight: 600;
}
