$accent-orange: #f9512e;
$light-orange: #fba28f;
$light-pink: #fffafe;
$dark-blue: #1a3263;
$yellow: #ffe607;
$white: #fff;

$transition-duration: 0.3s;

$app-padding-top: 56px;
$header-padding: 2px;
$logo-height: 80px;
$footer-height: 75px;
$container-padding: 54px;

$card-width: 250px;
$card-gap: 24px;
$cards-count: 4;
