.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1248px;
  padding: 0 20px;

  @include onSmallDesktop {
    padding: 0 $container-padding;
  }

  &--hf {
    max-width: 2000px;
  }
}
