.form-container {
  position: relative;
  padding-bottom: 20px;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: -$app-padding-top;
    bottom: 0;
    width: 100%;
    min-height: calc(100vh - ($logo-height + 2 * $header-padding) - $footer-height + $app-padding-top);
    opacity: 0.2;
    background-image: url(../../images/background.svg);
    background-repeat: repeat;
  }
}
